In [1]:
import pandas as pd
nps_df = pd.read_csv("/Users/eli/Desktop/NPS_Final/NPS_Coords-Combine.csv")

#cereal_df2 = pd.read_csv("data/cereal.csv")

In [4]:
nps_df.head()

  parkcode                                   fullname  latitude  longitude
0     acad                       Acadia National Park   44.3386   -68.2733
1     alag                         Alagnak Wild River   59.0047  -156.8603
2     alfl  Alibates Flint Quarries National Monument   35.5836  -101.6698
3     alka        Ala Kahakai National Historic Trail   19.6868  -156.0326
4     amis           Amistad National Recreation Area   29.4956  -100.9953

In [ ]:
#nps_df["location"] = nps_df["latitude"] , nps_df["longitude"]
#nps_df.head()

#df['col3'].str.strip(',').str.join('').astype(int)
#nps_df.location.apply(lambda x : "{:,}".format(x))

In [9]:
#>>> df = pd.DataFrame([[2014, 1],
#...                    [2015, 3]],
#...                   columns=('Year', 'Quarter'))
#>>> print(df)
#   Year Quarter
#0  2014       1
#1  2015       3
nps_df['location'] = nps_df.latitude.astype(str).str.cat(nps_df.longitude.astype(str), sep=', ')
nps_df.head()

,parkcode,fullname,latitude,longitude,location
0,acad,Acadia National Park,44.3386,-68.2733,"44.3386, -68.2733"
1,alag,Alagnak Wild River,59.0047,-156.8603,"59.0047, -156.8603"
2,alfl,Alibates Flint Quarries National Monument,35.5836,-101.6698,"35.5836, -101.6698"
3,alka,Ala Kahakai National Historic Trail,19.6868,-156.0326,"19.6868, -156.0326"
4,amis,Amistad National Recreation Area,29.4956,-100.9953,"29.4956, -100.9953"

In [10]:
nps_df.to_csv(index=False)
#'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'
#'/Users/eli/Desktop/NPS_Final/'
nps_df.to_csv (r'/Users/eli/Desktop/NPS_Final/export_nps_dataframe.csv', index = False, header=True)