In [34]:
from sklearn import tree
import pandas as pd
import os

In [35]:
df = pd.read_csv("favoritesActivity.csv")
df.head()

,numReviews,beach,mountains,desert,forest,hot,cold,rain,snow,water,land,leisure,extreme,faveYo
0,2,0,1,0,0,1,0,0,0,1,0,0,0,1
1,16,0,0,0,1,1,0,0,0,1,0,0,0,1
2,9,0,0,0,1,0,0,1,0,0,1,0,0,1
3,7,0,1,0,0,0,0,0,1,0,1,0,0,1
4,7,0,0,0,1,0,1,0,0,0,0,1,0,1

In [36]:
target = df["faveYo"]
target_names = ["no", "yes"]

In [38]:
data = df.drop(["numReviews","faveYo"], axis=1)
feature_names = data.columns
data.head()

,beach,mountains,desert,forest,hot,cold,rain,snow,water,land,leisure,extreme
0,0,1,0,0,1,0,0,0,1,0,0,0
1,0,0,0,1,1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,1,0,0,1,0,0
3,0,1,0,0,0,0,0,1,0,1,0,0
4,0,0,0,1,0,1,0,0,0,0,1,0

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [52]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6578947368421053

In [53]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7368421052631579

In [54]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.17662290370603312, 'cold'),
 (0.15830593239649868, 'mountains'),
 (0.1174133606479792, 'desert'),
 (0.11122785281246679, 'water'),
 (0.10978565660392317, 'hot'),
 (0.09425086582883126, 'forest'),
 (0.0668949526275716, 'beach'),
 (0.06264089235511061, 'land'),
 (0.06225394451181624, 'leisure'),
 (0.02204266451203061, 'snow'),
 (0.016377069312597876, 'rain'),
 (0.002183904685140906, 'extreme')]