In [1]:
from sklearn import tree
import pandas as pd
import os

In [4]:
df = pd.read_csv("favoritesActivity.csv")
df.head()

,numReviews,beach,mountains,desert,forest,hot,cold,rain,snow,water,land,leisure,extreme,faveYo
0,2,0,1,0,0,1,0,0,0,1,0,0,0,1
1,16,0,0,0,1,1,0,0,0,1,0,0,0,1
2,9,0,0,0,1,0,0,1,0,0,1,0,0,1
3,7,0,1,0,0,0,0,0,1,0,1,0,0,1
4,7,0,0,0,1,0,1,0,0,0,0,1,0,1

In [6]:
target = df["faveYo"]
target_names = ["no", "yes"]

In [7]:
data = df.drop("faveYo", axis=1)
feature_names = data.columns
data.head()

,numReviews,beach,mountains,desert,forest,hot,cold,rain,snow,water,land,leisure,extreme
0,2,0,1,0,0,1,0,0,0,1,0,0,0
1,16,0,0,0,1,1,0,0,0,1,0,0,0
2,9,0,0,0,1,0,0,1,0,0,1,0,0
3,7,0,1,0,0,0,0,0,1,0,1,0,0
4,7,0,0,0,1,0,1,0,0,0,0,1,0

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [29]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6842105263157895

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7631578947368421

In [27]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5573618673093527, 'numReviews'),
 (0.07961980598429465, 'cold'),
 (0.06890655716579538, 'mountains'),
 (0.050850945694187355, 'forest'),
 (0.04847900296217712, 'hot'),
 (0.04713973517684663, 'water'),
 (0.04015490751751609, 'land'),
 (0.03931450849623349, 'desert'),
 (0.026057195263332174, 'leisure'),
 (0.02120742680127625, 'beach'),
 (0.0153688300524811, 'snow'),
 (0.005046690308066313, 'rain'),
 (0.0004925272684407724, 'extreme')]